<div class="row">
  <div class="span12">
    <h1>Projects:</h1>

    <table class="table">
      <tr>
        <th>Priority</th>
        <th></th>
        <th>Title</th>
        <th>Short Description</th>
        <th>Technologies Used</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <%= render @projects%>
    </table>
    <% if current_user && current_user.editor? %>
      <%= button_to 'New Project', new_project_path, :method => "get", class: "btn btn-success" %>
    <% end %>
  </div>

</div>
