<div class="row">
  <div class="span12">
    <h1>Projects:</h1>

    <table class="table">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Technologies Used</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <%= render @projects%>
    </table>

    <br />
    <%= direct_upload_form_for @uploader do |f| %>
      <%= f.file_field :image %>
      <%= f.submit %>
    <% end %>

  </div>
</div>
