
<div class="row">
  <div class="span12">
    <h1>Recent Blog Posts</h1>
    <HR WIDTH="60%" style="color: rgb(100, 132, 37); background-color: rgb(100, 132, 37);" ALIGN="LEFT">

      <%= render @posts %>

    <% if current_user && (current_user.editor? || current_user.author?) %>
      <%= button_to 'New Post', new_post_path, :method => "get", class: "btn btn-success" %>
    <% end %>
  </div>

</div>
