<!-- start: Top Menu -->
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= home_path %>"> <span class="logo-text">matt schneider</span> <small>ruby on rails developer</small></a>
      <span class="langaddr">
        <address class="pull-left">
          <i class="icon-envelope"></i> <a href="mailto:schneider.matthew.b@gmail.com">schneider.matthew.b@gmail.com</a>
        </address>
      </span>
    </div>
    <div class="container navi">
      <ul class="nav">
        <li class="activation" id="projectlink"><%= link_to "Projects", projects_path %></li>
        <li class="activation" id="bloglink"><%= link_to "Blog", posts_path %></li>
        <li class="activation" id="contactlink"><%= link_to "Contact", contacts_path %></li>
      </ul>
    </div>
  </div>
</div>
<!-- end: Top Menu -->
